# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/
!android/app/src/main/AndroidManifest.xml

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
*.lock
